<div class="container">
  <div class="row">
    <div class="col-lg-10">
        <div class="navbar">
            <div class="dropdown">
              <button class="dropbtn">Products 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a routerLink="/os" routerLinkAction = "active">Operating Systems</a>
                <a routerLink="/furniture" routerLinkAction = "active">Furnitures</a>
                <a routerLink="/phone" routerLinkAction = "active">Phones</a>
              </div>
            </div> 
            <a routerLink="/cartList" routerLinkAction = "active">CartList</a>
          </div>
      <router-outlet (activate)='onActivate($event)' ></router-outlet>
    </div>
  </div>
</div>



<!-- <div style="text-align:center">

  <div>
    
    <button (click)="showCart()">Go to Cart</button>
    <button (click)="showProducts()">Go to Products</button>
    <button (click)="showFurnitures()">Go to Furnitures</button>
  </div> <br>
  
  
  <app-furniture *ngIf="isShowFurnitures" [furnitures]= "furniture"></app-furniture>
</div>
</div> -->
<!-- <app-cart-list [cartList] = "cartlist"></app-cart-list> -->