<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <ul class="nav nav-tabs">
        <li><a routerLink="/product" routerLinkAction = "active">Products</a></li>
        <li><a routerLink="/cartList" routerLinkAction = "active">CartList</a></li>
        <li><a routerLink="/furniture" routerLinkAction = "active">Furnitures</a></li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



<!-- <div style="text-align:center">

  <div>
    
    <button (click)="showCart()">Go to Cart</button>
    <button (click)="showProducts()">Go to Products</button>
    <button (click)="showFurnitures()">Go to Furnitures</button>
  </div> <br>
  
  
  <app-furniture *ngIf="isShowFurnitures" [furnitures]= "furniture"></app-furniture>
</div>
</div> -->
<!-- <app-cart-list [cartList] = "cartlist"></app-cart-list> -->