    
<div>
  <input [(ngModel)]="searchPhone" placeholder="searech phone here">
</div>
<ul>
  <li *ngFor = "let phone of phones | phoneFilter : searchPhone">
    {{phone.name}} </li>
</ul>
    
    <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Phone Name</th>
            <th>Company</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of phones">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.company}}</td>
            <td>{{p.price}}</td>
            <td>
              <button (click) = "onClickAddToCart(p)" >Add to cart</button>
            </td>
          </tr>
        </tbody>
      </table>


