<table class="table table-bordered table-hover" >
    <thead>
      <tr>
        <td>
          Product Name
        </td>
        <td>
           Product Id
         </td>
         <td>
             Product Description
         </td>
 
         <td>
             Product Price
         </td>
 
         <td>
             Action
         </td>
      </tr>
    </thead>
     <tbody>
 
         <tr *ngFor="let product of products">
             <td >
                {{ product.name }}
             </td>
             <td>
                 {{ product.id }}
              </td>
              <td>
                 {{ product.description }}
              </td>
 
              <td>
                 {{ product.price }}
              </td>
              <td>
                <button (click)="onSelect(product)"> Add to Cart</button>
              </td>
           </tr>
 
     </tbody>
     
   </table>
   <app-cart-list [cartList]="cartlist"></app-cart-list>