<div class="cart-item">

<div style="text-align:left">
  <table class="table table-bordered" border="">
    
      <tr>
        <td>Product ID</td>
        <td>Product Name</td>
        <td>Product Company</td>
        <td>Product Price</td>
        <td>Product Type</td>
        <td>Quantity</td>   
        <td>Product Total Price</td> 
      </tr>    
      <tr>
        <td>{{cartItem.id}}</td>
        <td>{{cartItem.name}}</td>
        <td>{{cartItem.company}}</td>
        <td>{{cartItem.price}}</td>
        <td>{{cartItem.Component}}</td>
        <td><button (click)="decQuantity()" >-</button>
          <input type="text" size="1" value = {{quantity}}>
          <button (click) = "incQuantity()" >+</button> 
        </td>
        <td><input type="number" size ="2" value = {{pTotalPrice}} readonly><button (click) = "pTotPrice()">Price</button> </td>
      </tr>
    
  </table>
      
      
    
  
</div>

</div>
